{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>TheEvent - Bootstrap Event Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

<!-- mrandmrs -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:wght@400;500;600&family=Petit+Formal+Script&display=swap" rel="stylesheet"> 
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
     <link href="{% static 'mrandmrs/lib/animate/animate.min.css' %}" rel="stylesheet">
     <link href="{% static 'mrandmrs/lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">
     <link href="{% static 'mrandmrs/css/bootstrap.min.css' %}" rel="stylesheet">
     <link href="{% static 'mrandmrs/css/style.css' %}" rel="stylesheet">
 
<!-- cons -->
    <link href="{% static 'cons/img/favicon.ico' %}" rel="icon">
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap" rel="stylesheet"> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="{% static 'cons/lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'cons/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'cons/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'cons/css/style.css' %}" rel="stylesheet">
   
    <!-- sweetweddingstyle -->
     <link rel="shortcut icon" href="{% static 'sweetweddingstyle/images/favicon.ico' %}" type="image/x-icon">
     <link rel="apple-touch-icon" href="{% static 'sweetweddingstyle/images/apple-touch-icon.png' %}">
     <link rel="stylesheet" href="{% static 'sweetweddingstyle/css/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'sweetweddingstyle/css/pogo-slider.min.css' %}">
     <link rel="stylesheet" href="{% static 'sweetweddingstyle/css/style.css' %}">    
     <link rel="stylesheet" href="{% static 'sweetweddingstyle/css/responsive.css' %}">
     <link rel="stylesheet" href="{% static 'sweetweddingstyle/css/custom.css' %}">



</head>

<body>
 
  {% block content %}

  {% endblock content %}

  {% include 'includes/footer.html' %}

</body>

 <!-- JavaScript Libraries -->
 <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
 <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
 <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
 <script src="{% static 'lib/easing/easing.min.js' %}"></script>
 <script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
 <script src="{% static 'lib/superfish/superfish.min.js' %}"></script>
 <script src="{% static 'lib/wow/wow.min.js' %}"></script>
 <script src="{% static 'lib/venobox/venobox.min.js' %}"></script>
 <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

 <!-- Contact Form JavaScript File -->
 <script src="{% static 'contactform/contactform.js' %}"></script>

 <!-- Template Main Javascript File -->
 <script src="{% static 'js/main.js' %}"></script>

   <!-- JavaScript Libraries -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
   <script src="{% static 'mrandmrs/lib/wow/wow.min.js' %}"></script>
   <script src="{% static 'mrandmrs/lib/easing/easing.min.js' %}"></script>
   <script src="{% static 'mrandmrs/lib/waypoints/waypoints.min.js' %}"></script>
   <script src="{% static 'mrandmrs/lib/lightbox/js/lightbox.min.js' %}"></script>
   

   <!-- Template Javascript -->
   <script src="{% static 'mrandmrs/js/main.js' %}"></script>
   <!-- cons############# -->
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'cons/lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'cons/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'cons/lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'cons/lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'cons/js/main.js' %}"></script>
    <!-- ##################sweetwedding#################### -->
   
	<script src="{% static 'sweetweddingstyle/js/jquery.min.js' %}"></script>
	<script src="{% static 'sweetweddingstyle/js/popper.min.js' %}"></script>
	<script src="{% static 'sweetweddingstyle/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'sweetweddingstyle/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'sweetweddingstyle/js/jquery.pogo-slider.min.js' %}"></script> 
	<script src="{% static 'sweetweddingstyle/js/slider-index.js' %}"></script>
	<script src="{% static 'sweetweddingstyle/js/smoothscroll.js' %}"></script>
	<script src="{% static 'sweetweddingstyle/js/responsiveslides.min.js' %}"></script>
    <script src="{% static 'sweetweddingstyle/js/timeLine.min.js' %}"></script>	
	<script src="{% static 'sweetweddingstyle/js/form-validator.min.js' %}"></script>
    <script src="{% static 'sweetweddingstyle/js/contact-form-script.js' %}"></script>
    <script src="{% static 'sweetweddingstyle/js/custom.js' %}"></script>
</html>
